<h4>V-Man DB</h4>

<form action="{{ url_for('users_add') }}" method="POST">

  <p>Username:</p>
  <input type='text' size="30" name="username">
  <p>Email:</p>
  <input type='text' size="30" name="email">
  <p>Password:</p>
  <input type='password' size="30" name="password">
  <p>Position:</p>
  <input type='text' size="30" name="position">
  <p>Admin:</p>
  <input type='checkbox' name="is_admin">
  <p>Status:</p>
  <input type='text' size="30" name="status">
  <p>Profile Picture:</p>
  <input type='text' size="30" name="avatar">

  <br/><br/>
  <input type="submit" value="Create">
  <a href="{{ url_for('users_list') }}">Cancel</a>

</form>
