<!DOCTYPE html>

<html>

  <head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>v-man</title>

    <!-- import CSS -->
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/global.css" />

    <!-- import Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700" rel="stylesheet">

    <!-- import JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  </head>

  <body>

    <script type="text/x-template" id="item-template">

        <li>

            <div class="wrap" :class="{ bold: isFolder }" @click="toggle">

                <img v-show="isFolder" src="images/folder.png" />
                <p class="text">{{ model.name }}</p>
                <span class="open-button" v-if="isFolder"> [ {{ open ? '-' : '+' }} ] </span>

            </div>

            <ul v-show="open" v-if="isFolder">
                <item class="item" v-for="(model, index) in model.children" :key="index" :model="model"></item>
            </ul>

        </li>

    </script>

    <ul id="demo">
        <item class="item" :model="treeData"></item>
    </ul>

    <script type="text/JAVASCRIPT">

        let data = {
          name: 'Root [ project name ]',
          children: [
              {
                name: 'ASSETS',
                children: [
                  {
                    name: 'textures',
                    children: [
                      {
                        name: 'dummyModel',
                        children: [
                          {
                            name: 'dummyModel_v01_01',
                            children: [
                              {
                                name: 'face',
                                children: [
                                  {
                                    name: 'tif',
                                    children: [
                                      { name: 'dummyModel_face_v01_01_diffuse.tif' },
                                      { name: 'dummyModel_face_v01_01_specular.tif' },
                                      { name: 'dummyModel_face_v01_01_mask.tif' },
                                      { name: 'dummyModel_face_v01_01_displacement.tif' },
                                    ]
                                  }, // end root/ASSETS/textures/dummyModel/dummyModel_v01_01/face/tif
                                  {
                                    name: 'jpeg',
                                    children: [
                                      { name: 'dummyModel_face_v01_01_diffuse.jpeg' },
                                      { name: 'dummyModel_face_v01_01_specular.jpeg' },
                                      { name: 'dummyModel_face_v01_01_mask.jpeg' },
                                      { name: 'dummyModel_face_v01_01_displacement.jpeg' },
                                    ]
                                  } // end root/ASSETS/textures/dummyModel/dummyModel_v01_01/face/jpeg
                                ]
                              }, // end root/ASSETS/textures/dummyModel/dummyModel_v01_01/face
                              {
                                name: 'body',
                                children: [
                                  {
                                    name: 'tif',
                                    children: [
                                      { name: 'dummyModel_body_v01_01_diffuse.tif' },
                                      { name: 'dummyModel_body_v01_01_specular.tif' },
                                      { name: 'dummyModel_body_v01_01_mask.tif' },
                                      { name: 'dummyModel_body_v01_01_displacement.tif' },
                                    ]
                                  }, // end root/ASSETS/textures/dummyModel/dummyModel_v01_01/face/tif
                                  {
                                    name: 'jpeg',
                                    children: [
                                      { name: 'dummyModel_body_v01_01_diffuse.jpeg' },
                                      { name: 'dummyModel_body_v01_01_specular.jpeg' },
                                      { name: 'dummyModel_body_v01_01_mask.jpeg' },
                                      { name: 'dummyModel_body_v01_01_displacement.jpeg' },
                                    ]
                                  } // end root/ASSETS/textures/dummyModel/dummyModel_v01_01/face/jpeg
                                ]
                              } // end root/ASSETS/textures/dummyModel/dummyModel_v01_01/face
                            ]
                          } // end root/ASSETS/textures/dummyModel/dummyModel_v01_01
                        ]
                      } // end root/ASSETS/textures/dummyModel
                    ]
                  } // end root/ASSETS/textures
                ]
              }, // end root/ASSETS
              {
                name: '3D',
                children: [
                  {
                    name: 'scripts',
                    children: [
                      { name: 'work' },
                      { name: 'rnd' }
                    ]
                  }, // end root/3D/scripts
                  {
                    name: 'textures',
                    children: [
                      {
                        name: 'dummyModel',
                        children: [
                          {
                            name: 'substance',
                            children: [
                              { name: 'dummyModel_sub_v01_01.spp' },
                              { name: 'dummyModel_sub_v02_01.spp' }
                            ]
                          }, // end root/3D/textures/dummyModel/substance
                          {
                            name: 'zbr',
                            children: [
                              { name: 'dummyModel_zbr_v01_01.zbr' },
                              { name: 'dummyModel_zbr_v02_01.zbr' }
                            ]
                          }, // end root/3D/textures/dummyModel/substance
                          {
                            name: 'psd',
                            children: [
                              { name: 'dummyModel_psd_v01_01.psd' },
                              { name: 'dummyModel_psd_v02_01.psd' }
                            ]
                          }, // end root/3D/textures/dummyModel/psd
                          {
                            name: 'tif',
                            children: [
                              { name: 'dummyModel_tif_v01_01.tif' },
                              { name: 'dummyModel_tif_v02_01.tif' }
                            ]
                           },
                          {
                            name: 'jpeg',
                            children: [
                              { name: 'dummyModel_jpeg_v01_01.jpeg' },
                              { name: 'dummyModel_jpeg_v02_01.jpeg' }
                            ]
                          },
                          {
                            name: 'input',
                            children: [
                              { name: 'randomTreeTexture.jpeg' },
                              { name: 'scrached_metal.jpeg' }
                            ]
                          }
                        ]
                      } // end root/3D/textures/dummyModel
                    ]
                  }, // end root/3D/textures
                  {
                    name: 'init',
                    children: [
                      {
                        name: 'autosave',
                        children: [
                          { name: '...' }
                        ]
                      }, // end root/3D/init/autosave
                      {
                        name: 'cache',
                        children: [
                          { name: '...' }
                        ]
                      }, // end root/3D/init/cache
                      {
                        name: 'clips',
                        children: [
                          { name: '...' }
                        ]
                      }, // end root/3D/init/clips
                      {
                        name: 'data',
                        children: [
                          { name: '...' }
                        ]
                      }, // end root/3D/init/data
                      {
                        name: 'renderData',
                        children: [
                          { name: '...' }
                        ]
                      }, // end root/3D/init/renderData
                      {
                        name: 'sceneAssembly',
                        children: [
                          { name: '...' }
                          ]
                      }, // end root/3D/init/sceneAssembly
                      {
                        name: 'scripts',
                        children: [
                          { name: '...' }
                        ]
                      }, // end root/3D/init/scripts
                      {
                        name: 'sound',
                        children: [
                          { name: '...' }
                        ]
                      }, // end root/3D/init/sound
                    ]
                  }, // end root/3D/init
                  { name: 'render' }
                ]
              }, // end root/3D
              { name: 'MGFX' },
              { name: 'COMP' },
              {
                name: 'MATTE',
                children: [
                  {
                    name: 'scripts',
                    children: [
                      {
                        name: 'sc01',
                        children: [
                          {
                            name: 'sc01_sh01',
                            children: [
                              {
                                name: 'sc01_sh01_v01',
                                children: [
                                  {
                                    name: 'psd',
                                    children: [
                                      { name: 'sc01_sh01_matte_v01_01.psd' }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  {
                    name: 'input',
                    children: [
                      { name: 'blueSky.jpeg' }
                    ]
                  },
                  {
                    name: 'export',
                    children: [
                      {
                        name: 'sc01',
                        children: [
                          {
                            name: 'sc01_sh01',
                            children: [
                              {
                                name: 'sc01_sh01_v01',
                                children: [
                                  { name: 'sc01_sh01_matte_v01_01_FG.tif' },
                                  { name: 'sc01_sh01_matte_v01_01_MID.tif' },
                                  { name: 'sc01_sh01_matte_v01_01_BG.tif' }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }, // end root/MATTE
              { name: 'DESIGN' },
              { name: 'AUDIO' },
              { name: 'INPUT' },
              { name: 'OUTPUT' },
              { name: 'PRODUCTION' },
              { name: 'TEMP' }
          ]
        } // end root

        Vue.component( 'item', {
            template: '#item-template',
            props: {
                model: Object
            },
            data: function () {
                return {
                    open: false
                }
            },
            computed: {
                isFolder: function () {
                    return this.model.children && this.model.children.length
                }
            },
            methods: {
                toggle: function () {
                    if (this.isFolder) {
                        this.open = !this.open
                    }
                }

            }
        })

        let demo = new Vue({
            el: '#demo',
            data: {
                treeData: data
            }
        })

    </script>

  </body>

  </html>
